extends ./layout/_page.pug

block vars
  -
    var page = pages.index;

block content
  picture
    img(
      src="/img/image00.jpg",
      srcset="/img/image00.jpg",
      alt=""
    )
  ul
    li
      a(href="/page1.html", class="js-pjax")
        |Ordinary link transition to page1.
    li
      a(href="https://github.com/ykob/learn-pjax")
        |Ordinary link not have classname for pjax.
    
