extends ./layout/_page.pug

block vars
  -
    var page = pages.page2;

block content
  p #{page.description}
  picture
    img(
      src="./img/image02.jpg",
      srcset="./img/image02.jpg",
      alt=""
    )
