.l-gh
  .l-gh__site-title
    a(href="/")
      |Learn Pjax
  .l-gh__site-summary
    |it's test of web page navigation made with $.ajax and pushstate.
  ul.l-gh__navi
    li.l-gh__navi-item
      a(href="/page1.html")
        |Page1
    li.l-gh__navi-item
      a(href="/page2.html")
        |Page2
    li.l-gh__navi-item
      a(href="/page3.html")
        |Page3
